body{
    background-color: rgb(242, 202, 89);
}

h2{
    background-color: rgb(0, 0, 0);
    color: rgb(235, 199, 246);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(14, 8, 77);
}